<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iitg.reportscanner">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.flash" />

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".EDITActivity" />
        <activity android:name=".qr.MainActivity" />
        <activity android:name=".qr.GeneratorActivity" />
        <activity android:name=".qr.ReaderActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".qr.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".spla.Splash1"
            android:parentActivityName=".Splash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Help"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forgot"
            android:label="@string/app_name"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CropAndRotate"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".Binarization"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".Recognizer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.iitg.reportscanner"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>